<form role="form" class="form-horizontal" id="share-a-link">
    <div class="form-group row">
        <label for="link">A cool link you found?</label>
        <div class="col-sm-12">
            <input type="text" name="link" class="url form-control" placeholder="http://a-vegetable-name.io"/>
        </div>
    </div>
    <div class="resource"></div>
    <div class="form-group row">
        <div><label for="sharer">And which awesome SG Dev are you?</label></div>
        <div class="sharer-container col-sm-6">
            <select name="sharer" class="form-control">
                <option value=""></option>
                {{#each this}}
                    <option value="{{email}}">{{firstname}}</option>
                {{/each}}
                <option value="other">Other</option>
            </select>
        </div>
        <div class="sharer-email-container col-sm-6">
            <input type="text" class="form-control" name="sharer_email" class="sharer-email col-sm-4" placeholder="Your email"/>
        </div>
    </div>
    <input type="hidden" name="type" value="email_list"/>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Share</button>
    </div>
</form>
